body {
  background-color: #e9eaea;
  color: #476273;
  font-family: sans-serif;
}

#histogram {
  height: 50%;
}

#histogram div {
  background-color: #476273;
  width: 10px; height: 0;
  display: inline-block;
}

#histogram div:nth-child(even) {
  background-color: #34b3a0;
}

#histogram div:hover {
/*  background-color: tomato;*/
}